<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Overseas Shopping</title>

</head>

<body id="body">

	<section th:replace="fragments/bodyHeader :: bodyHeader" />

	<section th:replace="fragments/navigation :: navigation" />

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Contact Us</h1>
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li class="active">contact</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a href="/profile">Profile Details</a></li>
					<li><a th:href="@{/projectByMember{memberNo}(memberNo = ${nowLoginMember.no})}">Project</a></li>
					<li><a href="/orderByMy">Orders</a></li>
					<li><a class="active" href="/cashMyList">Cash</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Cash List ID</th>
									<th>Date</th>
									<th>Status</th>
									<th>cash</th>
									<th></th>
								</tr>
							</thead>
							<input type="hidden" value="testGetListBtn" id="testGetListBtn">
							<tbody id="order-mylist">
							</tbody>
						</table>
						<p class="mt-20">캐쉬가 부족한가요? <a href="/cashOrder">Cash Order</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer th:replace="fragments/footer :: footer" />

    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){
		//ajaxSetup():  실행될  AJAX 요청에 대한 기본 속성을 정의해 재사용 
		$.ajaxSetup({
			success:function(result){					
				alert(result);
			},
			error: function (jqXHR) {
                alert("jqXHR status code:"+jqXHR.status+" message:"+jqXHR.responseText);
            }
		});//ajaxSetup

		//데이터 ALL 가져오기
		$("#testGetListBtn").ready(function(){	
			$.ajax({
				type:"get",
				url:"/api/cash/myList",
				success:function(collect){	
					$("#order-mylist").empty();
					$.each(collect, function (i, collect) {
						$("#order-mylist").append(
							'<tr>'
							+ '<td>'+collect.no+'</td>'
							+ '<td>'+collect.date+'</td>'
							+ '<td>3</td>'
							+ '<td>$150.00</td>'
							+ '<td><span class="label label-warning">'+collect.status+'</span></td>'
							+ '<td><span class="label label-warning">'+collect.money+'</span></td>'
							+ '<td>'
							+ '<button type="button" class="btn btn-default">'
							+ '<a href="/project' + collect.projectNo + '" text="'+collect.projectName+'"/>'
							+ '<i class="tf-pencil2" aria-hidden="true">'
							+ '</i>'
							+ '</a>'
							+ '</button>'
							+ '<td>'
							+ '</tr>'
						);
					});					
				}
			});//ajax
		});//click
    });
	</script>

  </body>
  </html>